.alert-box {
    background-color: blue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
    /* display: block; */
}

.list-group {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

.show {
    visibility: visible;
    height: 400px;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden; /* 애니메이션 줄 때 display: none; 대용으로 사용 */
    opacity: 0;
    transition: all 1s;
}

.show-modal {
    visibility: visible; /* 애니메이션 줄 때 display: block; 대용으로 사용 */
    opacity: 1;
}

.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

